<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <machineKey validationKey="A7B11FCC41D61E1A9AA41A5D2487AA59D27C1BD15B6B3A408F9930F5C5BD4862E6E58B57773A67D43031E8F8507BB6780CBBD9890A17F7F388562D42615E1159" decryptionKey="97294BC05F443217C2777195E16D328F31DE0863961D0248" validation="SHA1"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="400"/>
      <error statusCode="400" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\bad_request.html"/>
      <remove statusCode="407"/>
      <error statusCode="407" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\proxy_authentication_required.html"/>
      <remove statusCode="414"/>
      <error statusCode="414" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\request-uri_too_long.html"/>
      <remove statusCode="415"/>
      <error statusCode="415" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\unsupported_media_type.html"/>
      <remove statusCode="503"/>
      <error statusCode="503" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\maintenance.html"/>
      <error statusCode="401" prefixLanguageFilePath="" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\unauthorized.html"/>
      <error statusCode="403" prefixLanguageFilePath="" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\forbidden.html"/>
      <error statusCode="404" prefixLanguageFilePath="" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\not_found.html"/>
      <error statusCode="405" prefixLanguageFilePath="" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\method_not_allowed.html"/>
      <error statusCode="406" prefixLanguageFilePath="" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\not_acceptable.html"/>
      <error statusCode="412" prefixLanguageFilePath="" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\precondition_failed.html"/>
      <error statusCode="500" prefixLanguageFilePath="" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\internal_server_error.html"/>
      <error statusCode="501" prefixLanguageFilePath="" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\not_implemented.html"/>
      <error statusCode="502" prefixLanguageFilePath="" path="G:\PleskVhosts\rdinteriordecorator.in\error_docs\bad_gateway.html"/>
    </httpErrors>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="true"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="true"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <staticContent>
      <clientCache httpExpires="Sun, 29 Mar 2025 00:00:00 GMT" cacheControlMode="UseExpires"/>
    </staticContent>
    <caching>
      <profiles>
        <add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="10.40:30:00"/>
      </profiles>
    </caching>
  </system.webServer>
</configuration>
<!--ProjectGuid: 9CD1B172-8250-48AB-82B7-8AA5F041CC2B-->